<template>
  <v-row>
    <v-col cols="12" sm="2" class="text-center">
      <v-progress-circular
        :size="60"
        :value="percent"
        :width="3"
        :rotate="-90"
        color="#FFB800"
      >
        <v-icon color="#FFB800">
          mdi-lock
        </v-icon>
      </v-progress-circular>
    </v-col>
    <v-col cols="12" sm="10" class="countdown-row">
      <div class="data data--days">
        <div class="time" v-text="days" />
        <div class="label">days</div>
      </div>
      <div class="dots">:</div>
      <div class="data data--minutes">
        <div class="time" v-text="hours" />
        <div class="label">hours</div>
      </div>
      <div class="dots">:</div>
      <div class="data data--hours">
        <div class="time" v-text="minutes" />
        <div class="label">minutes</div>
      </div>
      <div class="dots">:</div>
      <div class="data data--seconds">
        <div class="time" v-text="seconds" />
        <div class="label">seconds</div>
      </div>
    </v-col>
  </v-row>
</template>

<script>
const startData = new Date('Mar 21, 2019').getTime();
const finishDate = new Date('Dec 25, 2020').getTime();
const allTime = finishDate - startData;
export default {
  name: 'Countdown',
  data: () => ({
    diff: 0,
    interval: 0,
    percent: 0,
  }),
  computed: {
    seconds() {
      return Math.floor((this.diff % (1000 * 60)) / 1000);
    },
    minutes() {
      return Math.floor((this.diff % (1000 * 60 * 60)) / (1000 * 60));
    },
    hours() {
      return Math.floor((this.diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    },
    days() {
      return Math.floor(this.diff / (1000 * 60 * 60 * 24));
    },
    timeLeft() {
      return allTime - this.diff;
    },
  },
  created() {
    this.startTime();
  },
  methods: {
    startTime() {
      this.interval = setInterval(() => {
        this.diff = finishDate - new Date().getTime();
        this.percent = (this.timeLeft * 100) / allTime;
      }, 1000);
    },
  },
  watch: {
    seconds() {
      if (this.diff < 0) {
        clearInterval(this.interval);
      }
    },
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
};
</script>
<style>
  .v-progress-circular__underlay {
    stroke: #e6e6e6;
  }
</style>
<style scoped lang="scss">
  .v-progress-circular__underlay {
    stroke: #e6e6e6;
  }

  .time {
    display: block;
    line-height: 1;
  }

  .countdown-row {
    font-size: 48px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    @media all and (max-width: 767px) {
      font-size: 32px;
    }
  }

  .dots {
    line-height: 1;
  }

  .label {
    font-size: 12px;
  }
</style>
