<template>
  <v-footer
    app
  >
    <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</template>

<script>
export default {
  name: 'MainFotter',
};
</script>

<style scoped>

</style>
