<template>
  <v-dialog
    max-width="420"
    :value="register"
    v-on:input="getModal('register')">
    <v-card>
      <v-card-title>
        <span class="headline">User registration</span>
      </v-card-title>
      <v-form
        @submit.prevent="resetValidation"
        ref="forms"
        class="px-3">
        <v-container fluid>
          <v-row>

            <v-col cols="12 py-0">
              <v-text-field
                label="Your Name"
                v-model="form.name"
                :rules="[rules.required]"
              />
            </v-col>

            <v-col cols="12 py-0">
              <v-text-field
                label="Your Email"
                v-model="form.mail"
                :rules="rules.emailRules"
              />
            </v-col>

            <v-col cols="12">
              <v-text-field
                v-model="form.password"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show ? 'text' : 'password'"
                name="input-10-1"
                label="Normal with hint text"
                hint="At least 8 characters"
                counter
                @click:append="show = !show"
              />
            </v-col>
            <v-col cols="12 text-right">
              <v-btn
                type="submit"
                color="warning"
              >
                Send
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'ModalRegister',
  data: () => ({
    show: false,
    form: {
      name: '',
      password: '',
      mail: '',
    },
    rules: {
      required: (value) => !!value || 'Required.',
      min: (v) => v.length >= 8 || 'Min 8 characters',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    },
  }),
  computed: mapState({
    register: (state) => state.modal.register,
  }),
  methods: {
    ...mapMutations(['getModal']),
    resetValidation() {
      if (!this.$refs.forms.validate()) return;
      this.$refs.forms.resetValidation();
      Object.keys(this.form).map((key) => {
        this.form[key] = '';
        return key;
      });
      this.getModal('register');
    },
  },
};
</script>

<style scoped>

</style>
