<template>
  <v-content class="site-content">
      <v-container id="main-container" class="site-container" fluid>
        <v-row
          align="center"
          justify="center"
          class="site-container__inner"
        >
          <v-col cols="12" class="heading-site text-center">
            <h1 class="heading-title">Counterfeit.TV</h1>
            <div class="heading-subtitle">Think You Know the Truth?</div>
          </v-col>

          <v-col cols="12" class="countdown text-center">
            <div class="countdown__inner">
              <p class="title">We are working hard to launch our new site</p>
              <countdown />
            </div>
          </v-col>

          <v-col cols="12" class="mt-5 text-center">
            <v-form
                class="subscribe"
                @submit.prevent="resetValidation"
                ref="forms">
              <v-row no-gutters>
                <v-col cols="12" sm="8">
                  <v-text-field
                    class="custom-input"
                    placeholder="Enter your E-mail here"
                    solo
                    light
                    v-model="mail"
                    :rules="emailRules"
                  />
                </v-col>
                <v-col cols="12" sm="4">
                  <v-btn
                    width="100%"
                    min-height="48px"
                    max-width="100%"
                    color="#FFB800"
                    class="br-0"
                    type="submit"
                    dark>
                    Get limited access
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
  </v-content>
</template>

<script>
import Countdown from '@/components/Countdown.vue';

export default {
  name: 'SiteContent',
  components: { Countdown },
  data: () => ({
    mail: '',
    emailRules: [
      (v) => !!v || 'E-mail is required',
      (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
    ],
  }),
  methods: {
    resetValidation() {
      if (!this.$refs.forms.validate()) return;
      this.$refs.forms.resetValidation();
      this.mail = '';
    },
  },
};
</script>

<style lang="scss">
  .site {
    &-content {
      align-items: center;
      background: url('../assets/site-image.png') 50% 50% / cover no-repeat;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: .2;
      }
    }
   &-container {
     position: relative;
     height: 100%;
     z-index: 1;
   }
  }
  .heading {
    &-site {
      max-width: max-content;
      margin: 0 auto;
    }
    &-title {
      text-transform: uppercase;
      color: #FFB800;
      line-height: 1;
      font-size: 120px;
      text-shadow: 1px 0 2px #000;
      margin-bottom: -20px;
      @media all and (max-width: 1500px) {
        margin-bottom: -14px;
        font-size: 80px;
      }
      @media all and (max-width: 767px) {
        margin-bottom: -7px;
        font-size: 36px;
      }
    }
    &-subtitle {
      position: relative;
      color: #fff;
      background: #FFB800;
      font-size: 48px;
      line-height: 1.7;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
      @media all and (max-width: 1500px) {
        font-size: 36px;
      }
      @media all and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.5;
      }
      @media all and (max-width: 475px) {
        font-size: 21px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  #main-container {
    .custom-input {
      .v-input__slot {
        background: #fff;
        border-radius: 0;
      }
    }

    .countdown {
      &__inner {
        max-width: 500px;
        margin: 0 auto;
      }
    }
    .subscribe {
      max-width: 500px;
      margin: 0 auto;
    }

    .br-0 {
      border-radius: 0;
    }
  }

</style>
