<template>
  <div class="wrap-nav">
    <v-card v-show="mobile">
      <v-toolbar dense>
        <v-toolbar-title>
          <v-img
            max-width="100%"
            max-height="100%"
            width="230"
            min-height="25"
            alt="mobile-logo"
            src="../assets/logo.png"/>
        </v-toolbar-title>

        <v-spacer/>

        <v-btn text @click="getSiteNav">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </v-toolbar>
    </v-card>
    <v-navigation-drawer
      app
      :width="381"
      class="main-nav"
      v-model="nav"
    >
    <vue-perfect-scrollbar class="scroll-area" :settings="settings">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <v-img
              max-width="100%"
              max-height="100%"
              :width="231"
              min-height="35"
              alt="logo"
              src="../assets/logo.png"/>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider/>

      <v-list
        dense
        nav
        class="px-0"
      >
        <v-list-item
          :link="!item.children"
          v-for="item in items"
          :key="item.text"
          @click="clikNav(item)"
        >
          <v-list-item-icon v-if="item.icon" class="pt-2 mr-2">
            <v-icon color="#FFB800" v-text="item.icon"/>
          </v-list-item-icon>
          <v-list-item-content>
            <span class="title" v-text="item.text" />
            <v-expand-transition>
              <v-list v-if="item.children" v-show="item.chidrenShow">
                <v-list-item
                  link
                  v-for="child in item.children"
                  :key="child.text"
                >
                  <span class="subtitle-1" v-text="child.text"/>
                </v-list-item>
              </v-list>
            </v-expand-transition>
          </v-list-item-content>
        </v-list-item>

      </v-list>
      <v-divider class="my-2" />
      <v-row>
        <v-col cols="12" class="pb-4">
          <h3 class="headline text-center">
            Live updates
          </h3>
        </v-col>

        <v-col v-for="item in video" :key="item.id" cols="12">
          <video-box :video="item"/>
        </v-col>
        <v-col cols="12" sm="6">
          <v-btn text @click="getModal('login')">
            Sign in
          </v-btn>
        </v-col>
        <v-col cols="12" sm="6">
          <v-btn text @click="getModal('register')">
            Register
          </v-btn>
        </v-col>
      </v-row>
    </vue-perfect-scrollbar>
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
import VideoBox from '@/components/VideoBox.vue';
import VuePerfectScrollbar from 'vue-perfect-scrollbar';

export default {
  name: 'SiteNavigation',
  components: { VideoBox, VuePerfectScrollbar },
  data: () => ({
    windowSize: '',
    settings: {
      maxScrollbarLength: 60,
      suppressScrollX: true,
      wheelSpeed: 1.5,
      scrollYMarginOffset: 10,
    },
    nav: false,
    items: [
      {
        link: '',
        text: 'About Us',
      },
      {
        link: '',
        text: 'Contacts',
      },
      {
        link: '',
        text: 'Live Stream',
      },
      {
        link: '',
        text: 'Categories',
        icon: 'mdi-menu',
        chidrenShow: false,
        children: [
          {
            link: '',
            text: 'Reality',
          },
          {
            link: '',
            text: 'Based on a true story',
          },
          {
            link: '',
            text: 'Religion / Philosophy',
          },
          {
            link: '',
            text: 'Talk',
          },
          {
            link: '',
            text: 'News',
          },
          {
            link: '',
            text: 'Documentary',
          },
          {
            link: '',
            text: 'Live Stream',
          },
        ],
      },
    ],
    video: [
      {
        id: 1,
        image: '//m.day.kyiv.ua/sites/default/files/news/19092019/kushagra-kevat-8cywygassis-unsplash.jpg',
        src: '//youtu.be/Y4w9qfrvboU',
      },
      {
        id: 2,
        image: 'https://klops.ru/media/W1siZiIsIjIwMTgvMTIvMzEvMThxbWt1anNob19maWxlLmpwZWciXSxbInAiLCJ0aHVtYiIsIjkyNHg1MjArMCs0OCJdLFsicCIsInRodW1iIiwiOTI0eDUyMCMiXSxbInAiLCJlbmNvZGUiLCJqcGciLCItcXVhbGl0eSA4NSJdXQ/file.jpg?sha=67a4f2d52597637e',
        src: 'https://youtu.be/Y4w9qfrvboU',
      },
    ],
  }),
  computed: {
    mobile() {
      return this.windowSize <= 1263;
    },
  },
  mounted() {
    window.addEventListener('resize', this.windowWidth);
    this.windowWidth();
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.windowWidth);
  },
  methods: {
    ...mapMutations(['getModal']),
    clikNav(el) {
      if (!el.children) return;
      this.items.find(({ text }) => text === el.text).chidrenShow = !el.chidrenShow;
    },
    getSiteNav() {
      this.nav = !this.nav;
    },
    windowWidth() {
      this.windowSize = window.innerWidth;
    },
  },
  watch: {
    mobile(val) {
      if (!val) {
        this.nav = true;
      }
    },
  },
};
</script>

<style lang="scss">
  .wrap-nav {
    position: relative;
    z-index: 99;
  }

  .main-nav {
    padding: 25px 20px 5px;
  }

  .scroll-area {
    position: relative;
    margin: auto;
    width: 100%;
    height:100%;
  }

  .ps__rail-y {
    display: none !important;
  }

</style>
