<template>
  <div class="about__video">
    <div class="about__video-inner">
      <div class="about__video-image bg-overlay"
           v-show="!videoPlay"
           @click="playVideo"
           :style="`background: #000 url(${video.image}) 50% / cover no-repeat`"
      >
        <v-btn
          color="#fff"
          fab>
          <v-icon color="#FFB800">mdi-play</v-icon>
        </v-btn>
      </div>
      <youtube
        width="100%"
        height="200px"
        :video-id="idVideo"
        ref="youtube"
        :playerVars="playerVars"
        @playing="playing"
        @buffering="buffering"
        @paused="paused"
        @ended="ended"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'VideoBox',
  data: () => ({
    videoPlay: false,
    videoBuffering: false,
  }),
  props: {
    video: {
      type: Object,
      required: true,
    },
    playerVars: {
      origin: '',
      wmode: 'opaque',
    },
  },
  computed: {
    idVideo() {
      return this.$youtube.getIdFromUrl(this.video.src);
    },
  },
  methods: {
    async playVideo() {
      await this.$refs.youtube.player.playVideo();
      this.videoPlay = true;
    },
    paused() {
      setTimeout(() => {
        if (this.videoBuffering) return;
        this.videoPlay = false;
      }, 200);
    },
    buffering() {
      this.videoBuffering = true;
      this.videoPlay = true;
    },
    playing() {
      this.videoBuffering = false;
      this.videoPlay = true;
    },
    ended() {
      this.videoPlay = false;
    },
  },
};
</script>

<style lang="scss" scoped>
  .bg-overlay {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #000;
      display: inline-block;
      opacity: .3;
      z-index: -1;
    }
  }
  .about__video {
    position: relative;

    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &-inner {
      position: relative;
      max-width: 100%;
      max-height: 200px;
    }
  }
</style>
