<template>
  <v-app id="sandbox">
    <site-navigation />

    <site-content />

    <main-fotter />

    <modal-register />
    <modal-login />
  </v-app>
</template>

<script>
import SiteNavigation from '@/components/SiteNavigation.vue';
import SiteContent from '@/components/SiteContent.vue';
import MainFotter from '@/components/MainFotter.vue';

const ModalLogin = () => import(
  /* webpackChunkName: "modal-register" */ '@/components/ModalLogin.vue'
);

const ModalRegister = () => import(
  /* webpackChunkName: "modal-register" */ '@/components/ModalRegister.vue'
);

export default {
  components: {
    ModalRegister,
    ModalLogin,
    MainFotter,
    SiteContent,
    SiteNavigation,
  },
  data: () => ({
  }),
  mounted() {
    this.$vuetify.theme.themes.dark.primary = '#666';
  },
};
</script>
